@{
	ViewBag.Title = "Seance management";
}

<!-- modal placeholder-->
<div id="seanceModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="seanceModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div id="seanceModalContent"></div>
		</div>
	</div>
</div>

<h1 class="text-center well well-lg">@ViewBag.Title</h1>

<div class="form-group pull-right">
	@Html.ActionLink(" ", "Create", "Seance", routeValues: new { filmId = ViewBag.FilmId },
	htmlAttributes: new { @class = "btn btn-success fa fa-plus", data_modal = "" })	
</div>

<div id="SeanceList">
	@{ Html.RenderAction("List", "Seance", routeValues: new { filmId = ViewBag.FilmId }); }
</div>

<script src="~/Scripts/Seance/modalform.js"></script>