@{
	ViewBag.Title = "Seance Management";
}

<!-- modal placeholder-->
<div id="seanceModal" class="modal fade" role="dialog" aria-labelledby="seanceModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div id="seanceModalContent" class="modal-content"></div>
	</div>
</div>

<div class="panel panel-primary">
	<div class="panel-heading text-center">@ViewBag.Title</div>
	<div id="SeanceList" class="table-responsive">
		@{ Html.RenderAction("List", "Seance", routeValues: new { filmId = ViewBag.FilmId }); }
	</div>
</div>

@section Scripts {
	<script src="~/Scripts/Seance/modalform.js"></script>
}


