@model IEnumerable<FilmOverflow.WebUI.ViewModels.CinemaRowViewModel>

@{
	ViewBag.ListTitle = "Cinemas | Films | Seances";
}

<div class="container">
	<div class="row well">
		<div class="col-md-12">
			<ul class="pagination pagination-lg">
				<li><a href="#">&laquo;</a></li>
				<li><a href="#">@String.Format("{0:dd MMM}", DateTime.Today)</a></li>
				<li><a href="#">2</a></li>
				<li><a href="#">3</a></li>
				<li><a href="#">4</a></li>
				<li><a href="#">5</a></li>
				<li><a href="#">&raquo;</a></li>
			</ul>
		</div>
	</div>
	<div class="row well">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">@ViewBag.ListTitle</div>
				<div id="cineRowList" class="table-responsive">
					@{ Html.RenderAction("CinemaRowList", "Home"); }
				</div>
			</div>
		</div>
	</div>
</div>