@using System.Linq
@model System.Collections.Generic.IEnumerable<string>

@{
	ViewBag.ListTitle = "Cinemas | Films | Seances";
}

<div class="container no-shadow">
	<div class="row well">
		<div class="col-md-12">
			<ul id="DatePagination" class="pagination pagination">
				@foreach (var date in Model)
				{
					<li>
						@Ajax.ActionLink(date, "CinemaRowList", "Home", routeValues: new { date = date }, ajaxOptions: new AjaxOptions()
						{
							UpdateTargetId = "cinemaRowList",
							HttpMethod = "Get",
							InsertionMode = InsertionMode.Replace
						})
					</li>
				}
			</ul>
		</div>
	</div>
	<div class="row well">
		<div class="col-md-12">
			<div class="panel panel-primary">
				<div class="panel-heading text-center">@ViewBag.ListTitle</div>
				<div id="cinemaRowList" class="table-responsive">
					@{ Html.RenderAction("CinemaRowList", "Home", new { date = Model.FirstOrDefault() }); }
				</div>
			</div>
		</div>
	</div>
</div>

@section scripts{
	<script src="~/Scripts/Home/home.js"></script>
}