@{
	ViewBag.Title = "FilmOverflow";
}

<figure class="well well-lg text-center font-bordered ">
	<figcaption>
		<h1>
			@ViewBag.Title
		</h1>
	</figcaption>
	<img class="blink img-main" src="@Url.Content("~/Content/Images/Background-images/main.jpg")" />
</figure>