@{
	ViewBag.Title = "FilmOverflow";
}

<div class="container">
	<figure class="well well-lg text-center font-bordered ">
		<figcaption>
			<h1>@ViewBag.Title</h1>
		</figcaption>
		<img class="blink img-main" src="@Url.Content("~/Content/Images/Background-images/main.jpg")" />
		@Html.ActionLink("Browse", "Browse", "Home", null, new { @class = "btn btn-lg btn-primary" })
	</figure>
</div>

<div class="container">
	<div class="row">
		@{ Html.RenderAction("List", "Home"); }
	</div>
</div>
