@{
	ViewBag.Title = "Time is out";
}

<br />
<br />
<div class="panel panel-danger">
	<div class="panel-heading">
		<h1 class="panel-title no-shadow">Sorry!</h1>
	</div>
	<div class="panel-body">
		<h2 class="text-center">
			@ViewBag.Title
		</h2>
	</div>
</div>
