@model FilmOverflow.WebUI.ViewModels.CinemaViewModel

@{
	ViewBag.Title = "Delete Cinema";
}


<div class="well well-lg">
	<h3 class="text-center">
		Are you sure you want to delete @Model.Name?
	</h3>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to cinemas" })
			<button class="btn btn-danger fa fa-trash-o" > </button>
		</div>
	}
</div>