@{
    ViewBag.Title = "Admin area";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row well">
        <div class="col-md-2">
            <ul class="nav nav-pills nav-stacked well">
                <li><a href="@Url.Action("UserManagement", "UserManipulation")"><i class="glyphicon glyphicon-home"></i> User Management</a></li>
                <li><a href="@Url.Action("Index", "Film")"><i class="glyphicon glyphicon-user"></i> Film Management</a></li>
            </ul>
        </div>
        <div class="col-md-10">
            @RenderBody()
        </div>
    </div>
</div>
