@{
	ViewBag.Title = "Admin Area";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h1 class="well well-lg text-center">@ViewBag.Title</h1>
		</div>
		<div class="col-md-3">
			<ul id="ManagePanel" class="well nav nav-pills nav-stacked small">
				<li><a href="@Url.Action("UserManagement", "UserManipulation")"><i class="fa fa-users fa-2x fa-lg"></i> User Management</a></li>
				<li><a href="@Url.Action("Index", "Film")"><i class="fa fa-film fa-2x fa-lg"></i> Film Management</a></li>
			</ul>
		</div>
		<div class="col-md-9">
			@RenderBody()
		</div>
	</div>
</div>