@model IEnumerable<FilmOverflow.WebUI.ViewModels.ApplicationUserViewModel>
@{
    ViewBag.Title = "Admin section";
}
<br />
<h1 class="text-center well well-lg">Admin section</h1>

<br />
<div id="UsersAndRoles">
    @Html.Partial("_UserManipulation", Model)
</div>