@model IEnumerable<FilmOverflow.WebUI.ViewModels.ApplicationUserViewModel>

@{
	Layout = "~/Views/UserManipulation/_UserManagementLayout.cshtml";
	ViewBag.Flag = 1;
}

<div id="UsersAndRoles">
	@Html.Partial("_UserManipulation", Model)
</div>