@model FilmOverflow.WebUI.ViewModels.ReviewViewModel

@{
	ViewBag.Title = "Delete Review";
}


<div class="well well-lg">
	<h3 class="text-center">
		Are you sure you want to delete review on '@Model.Film.Title'?
	</h3>

	@using (Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		<div>
			@Html.ActionLink(" ", "Index", null, new { @class = "fa fa-caret-left fa-4x back-nav", title = "Back to reviews" })
			<button class="btn btn-danger fa fa-trash-o"> </button>
		</div>
	}
</div>