@{
	ViewBag.Title = "Manage Account";
	Layout = "~/Views/Account/_AccountLayout.cshtml";
	ViewBag.Flag = 3;
}

<div class="">
	@if (ViewBag.HasLocalPassword)
	{
		@Html.Partial("_ChangePasswordPartial")
	}
	else
	{
		@Html.Partial("_SetPasswordPartial")
	}
</div>

@section Scripts {
	@Scripts.Render("~/bundles/jqueryval")
}